.btn {
  display: flex;
  justify-content: center;
  align-items: center;
  min-width: 183px;
  min-height: 44px;
  background: $main-bg;
  border-radius: 50px;
  text-align: center;
  font-size: 16px;
  line-height: 150%;
  cursor: pointer;
  color: #fff;
}